html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 20px;
  background-color: #f9f9f9;
}

nav.navbar {
  justify-content: center;
  text-align: center;
}

.banner {
  color: white;
  margin: 0;
  font-size: 1.5rem;
}

.col-6 {
  border: 1px solid black;
  min-width: 560px;
  align-content: center;
}

#main-row {
  margin-top: 2%;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  /* ensure full container width only */
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-label {
  border: 1px solid grey;
  padding: 6px;
  margin-top: 10px;
}

.form-label:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#upload {
  display: none;
}

.img-label {
  text-align: center;
}

.selections {
  display: flex;
  justify-content: space-evenly;
}

.img-preview {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Prevent image overflow */
  overflow: hidden;

}

p {
  text-align: center;
}